<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:name="cn.anitabi.navigator.measurement.DiscoveryMeasurementApplication"
        tools:replace="android:name">
        <provider
            android:name="cn.anitabi.navigator.measurement.DiscoveryMeasurementProvider"
            android:authorities="${applicationId}.discovery-measurement"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
