<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:name="${DEBUG_APPLICATION_NAME}" tools:replace="android:name">
        <provider
            android:name="cn.anitabi.navigator.recovery.PlannerRecoveryProvider"
            android:authorities="${applicationId}.planner-recovery"
            android:enabled="${DRAFT_RECOVERY_FIXTURE}"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
